/***********************************  VARIABLER  ***********************************/

html {
  --aske: #2c2a2a;
  --lilje: #f4efeb;
  --sol_1: #ffaa33;
  --sol_2: #ffbf65;
  --sol_3: #ffd499;
  --sol_4: #ffe4bf;
  --mur_1: #a6433a;
  --mur_2: #bf5f56;
  --mur_3: #d97f77;
  --mur_4: #e5b1ad;
  --blom_1: #59364d;
  --blom_2: #815371;
  --blom_3: #b286a4;
  --blom_4: #d9b8ce;
  --nat_1: #163065;
  --nat_2: #3c5b9a;
  --nat_3: #8aa8e5;
  --nat_4: #b6caf3;

  --font_1: "Londrina Solid", sans-serif;
  --font_2: "Inter", sans-serif;

  --radius: 10px;
  --gap: 1rem;
  --gap_2: 0.2fr;
  --margin: 120px;
}

/***********************************  RESET + BASE  ***********************************/
* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

main {
  background-color: var(--lilje);
  overflow: hidden;
}

.max {
  margin: 0 1rem;
}

/***********************************  BILLEDER  ***********************************/

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius);
  /* margin: 2rem auto; */
}

/* .logo {
  width: 200px;
  padding: 1rem;
  margin: 0; 
}

.logo_footer { 
width: 200px;
  padding: 1rem 0;
  margin: 0; 
} */

/***********************************  TEKST  ***********************************/

h1 {
  font-family: var(--font_1);
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h2 {
  font-family: var(--font_1);
  font-size: 2.35rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h3 {
  font-family: var(--font_1);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h4 {
  font-family: var(--font_1);
  font-size: 1.25;
  color: var(--aske);
  margin: 0;
}

p {
  font-family: var(--font_2);
  font-size: 0.8rem;
  color: var(--aske);
  margin: 0;
  max-width: 65ch;
}

.p2 {
  /* font-family: ;
  font-size: ;
  text-transform: ; */
  color: var(--aske);
  margin: 0;
}

/***********************************  ELEMENTER  ***********************************/
.relativ {
  position: relative;
  margin-top: 6rem;
}

.hero {
  width: 100%;
  height: 8rem;
  margin-bottom: 4rem;
}

.hero2 {
  width: 100%;
  height: 4rem;
  border-radius: var(--radius);
  margin-bottom: 4rem;
}

.title {
  position: absolute;
  width: fit-content;
  background-color: var(--blom_1);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}

.title2 {
  position: absolute;
  width: fit-content;
  background-color: var(--blom_1);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}

.e1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  background-color: var(--mur_3);
  border-radius: var(--radius);

  padding: 1rem;
  margin: 1rem 0;
}
.e2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  border-style: dashed;
  border-radius: var(--radius);
  border-color: var(--nat_4);

  padding: 1rem;
  margin: 1rem 0;
}

.e3 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  border-style: dashed;
  border-radius: var(--radius);

  padding: 1rem;
  margin: 1rem 0;
}
.e4 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding: 1rem;
  margin: 1rem 0;
}
/***********************************  FARVER  ***********************************/
.luft {
  margin-bottom: 2rem;
}

/***********************************  FLEX  ***********************************/

.flex_row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.grid_12_col {
  margin: 3rem 0;
}

.grid_4-2_mobil {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: var(--gap);
}

@media (min-width: 800px) {
  .max {
    margin: 0;
  }

  .order {
    order: -1;
  }

  .flex_row_web {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }

  .flex_col_web {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .grid_12_col {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
    margin: 8rem var(--margin);
  }

  .grid_12_8 img {
    align-self: stretch;
    object-fit: cover;
  }

  .grid_12_8 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 0.6fr);
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }

  .grid_12_15 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 0.6fr);
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }
  .grid_12_18 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 0.6fr);
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }

  .grid_12_24 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 0.6fr);
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }

  .grid_12_26 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(26, 0.6fr);
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }

  .grid_4-3 {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: var(--gap_2);
  }
  .grid_3-4 {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: var(--gap_2);
  }

  .hero {
    height: 16rem;
  }

  .box_web {
    height: 848px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .e1 {
    padding: 2rem;
    margin: 0;
  }
  .e2 {
    padding: 2rem;
    margin: 0;
  }
  .e3 {
    padding: 2rem;
    margin: 0;
  }
  .e4 {
    padding: 2rem;
    margin: 0;
  }

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
