/***********************************  VARIABLER  ***********************************/

html {
  --aske: #2c2a2a;
  --lilje: #f4efeb;
  --sol_1: #ffaa33;
  --sol_2: #ffbf65;
  --sol_3: #ffd499;
  --sol_4: #ffe4bf;
  --mur_1: #a6433a;
  --mur_2: #bf5f56;
  --mur_3: #d97f77;
  --mur_4: #e5b1ad;
  --blom_1: #59364d;
  --blom_2: #815371;
  --blom_3: #b286a4;
  --blom_4: #d9b8ce;
  --nat_1: #163065;
  --nat_2: #3c5b9a;
  --nat_3: #8aa8e5;
  --nat_4: #b6caf3;

  --font_1: "Londrina Solid", sans-serif;
  --font_2: "Inter", sans-serif;

  --radius: 10px;
  --gap: 1rem;
  --gap_2: 0.2fr;
  --margin: 120px;
}

/***********************************  RESET + BASE  ***********************************/
* {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

main {
  background-color: var(--lilje);
  overflow: hidden;
}

.max {
  margin: 0 1rem;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 2rem;
}

/***********************************  BILLEDER  ***********************************/

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius);
  /* margin: 2rem auto; */
}

.logo {
  width: 50px;
  margin: 0;
  margin-left: 2rem;
}

.logo_footer {
  width: 200px;
  padding: 1rem 0;
  margin: 0;
}

/***********************************  TEKST  ***********************************/

h1 {
  font-family: var(--font_1);
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h2 {
  font-family: var(--font_1);
  font-size: 2.35rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h3 {
  font-family: var(--font_1);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}
h4 {
  font-family: var(--font_1);
  font-size: 1.25rem;
  color: var(--aske);
  margin: 0;
}
h5 {
  font-family: var(--font_1);
  font-weight: 300;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--aske);
  margin: 0;
}

p {
  font-family: var(--font_2);
  font-size: 0.8rem;
  color: var(--aske);
  margin: 0;
  max-width: 65ch;
}

.p2 {
  font-family: var(--font_1);
  font-size: 1rem;
  font-weight: 300;

  color: var(--aske);
  margin: 0;
}

.pt {
  font-family: var(--font_1);
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.pt2 {
  font-family: var(--font_1);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

/***********************************  ELEMENTER  ***********************************/
.relativ {
  position: relative;
  margin-top: 8rem;
}

.hero {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 4rem;
}

.hero2 {
  width: 73.5%;
  height: 6rem;
  border-radius: var(--radius);
  margin: 12rem auto 8rem;
}

.title {
  position: absolute;
  width: fit-content;
  background-color: var(--blom_1);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}

.title2 {
  position: absolute;
  width: fit-content;
  background-color: var(--blom_1);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}

.pil {
  position: absolute;
  width: 4rem;
  height: auto;
}

.e1 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  background-color: var(--mur_3);
  border-radius: var(--radius);
  filter: drop-shadow(-4px 4px 7px #09090961);

  padding: 1rem;
  margin: 1rem 0;
}
.e2 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  border-style: dashed;
  border-radius: var(--radius);
  border-color: var(--nat_4);

  padding: 1rem;
  margin: 1rem 0;
}

.e3 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  border-style: dashed;
  border-radius: var(--radius);
  border-color: var(--nat_4);

  padding: 1rem;
  margin: 1rem 0;
}
.e4 {
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding: 1rem;
  margin: 1rem 0;
}

.e5 {
  background-color: var(--nat_2);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}
.e6 {
  background-color: var(--blom_1);
  border-radius: var(--radius);
  padding: 0.5rem 2rem;
}

/***********************************  DIVERSE  ***********************************/
.luft {
  margin-bottom: 2rem;
}

.hide {
  display: none;
}

/***********************************  FOOTER  ***********************************/

footer {
  background-color: var(--mur_1);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 4rem;
}

.pf {
  font-size: 1rem;
  padding: 0;
}

.social_flex {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.social_icon_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

/***********************************  KNAPPER  ***********************************/

.knap {
  background-color: var(--nat_2);
  border-radius: 5px;
  padding: 0.75rem;
  margin-top: 1rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--lilje);

  width: fit-content;
  height: fit-content;
}

.knap a:visited {
  background-color: var(--nat_2);
  border-radius: 5px;
  padding: 0.75rem;
  margin-top: 1rem;

  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--lilje);

  width: fit-content;
  height: fit-content;
}

.knap:hover {
  color: var(--lilje);
  filter: drop-shadow(-4px 4px #163065);
}

/* LINKS */
a {
  text-decoration: none;
  color: var(--lilje);
  padding: 0.5rem 1rem;
}

a:visited {
  text-decoration: none;
  color: var(--lilje);
}
.a_aske:visited {
  text-decoration: none;
  color: var(--aske);
}

a:hover {
  text-decoration: none;
  color: var(--lilje);
  padding: 0.75rem;
}

.a_sol:hover {
  background-color: var(--sol_4);
  border-radius: var(--radius);
  color: var(--blom_1);

  padding: 0.5rem 1rem;
}
.a_mur:hover {
  background-color: var(--mur_2);
  border-radius: var(--radius);
  color: var(--sol_4);

  padding: 0.5rem 1rem;
}
.a_blom:hover {
  background-color: var(--blom_2);
  border-radius: var(--radius);
  color: var(--mur_4);

  padding: 0.5rem 1rem;
}
.a_nat:hover {
  background-color: var(--nat_2);
  border-radius: var(--radius);
  color: var(--nat_4);

  padding: 0.5rem 1rem;
}

.a_om:hover {
  background-color: var(--blom_1);
  border-radius: var(--radius);
  color: var(--sol_4);

  padding: 0.5rem 1rem;
}
.a_logo {
  padding: 0;
}

.a_logo:hover {
  background-color: transparent;
  border-radius: var(--radius);

  padding: 0;
}
.a_logo:visited {
  background-color: transparent;
  border-radius: var(--radius);

  padding: 0;
}

.valgt {
  border-color: var(--lilje);
  border-style: dashed;
  border-radius: var(--radius);

  padding: 0.5rem 1rem;
}

/* LISTER */
ul {
  font-family: var(--font_1);
  font-size: 1.25rem;
  font-weight: 400;

  text-transform: uppercase;
  color: var(--lilje);
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
}

li {
  padding: 0 1rem;
}

header nav ul {
  list-style: none;
}

/***********************************  HEADER  ***********************************/

header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--mur_1);
  padding: 1rem 0.75rem 0.75rem;
  margin-bottom: 0;

  /* box-shadow: 0 0 5px #52525280; */
}

/***********************************  BURGERMENU  ***********************************/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
  margin-right: 1rem;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--lilje);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--mur_1);
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    z-index: 1;
  }

  nav.active .menu li {
    margin: 2rem 0;
  }
}

/***********************************  FLEX + GRID  ***********************************/

.flex_row {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.forside {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

@media (min-width: 800px) {
  .max {
    margin: 0;
  }

  /* HEADER */
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0.75rem 2rem;
    gap: 2rem;
    overflow-x: auto;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* GRIDS OG FLEX */

  .order {
    order: -1;
  }

  .flex_row_web {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
  }

  .flex_col_web {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }

  .grid img {
    align-self: stretch;
    object-fit: cover;
  }

  .grid {
    display: grid;
    gap: var(--gap);
    margin: 8rem var(--margin);

    position: relative;
    z-index: 2;
  }

  .g12_4 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 0.6fr);
  }
  .g12_6 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 0.6fr);
  }

  .g12_8 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 0.6fr);
  }

  .g12_15 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(15, 0.6fr);
  }

  .g12_18 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(18, 0.6fr);
  }

  .g12_24 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 0.6fr);
  }

  .g12_22 {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(22, 0.6fr);
  }

  /* ELEMENTER */

  .hero {
    height: 4.5rem;
  }

  .box_web {
    height: 848px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }
  .box_web_2 {
    height: 720px;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .e1 {
    padding: 2rem;
    margin: 0;
  }
  .e2 {
    padding: 1rem;
    margin: 0;
    height: fit-content;
  }
  .e3 {
    padding: 1rem;
    margin: 0;
    height: fit-content;
  }
  .e4 {
    padding: 2rem;
    margin: 0;
  }

  /* FONTE */

  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .p2 {
    font-size: 1.2rem;
  }
  .pt {
    font-size: 8rem;
  }
  .pt2 {
    font-size: 3rem;
  }
}
